body{
    text-align: center;
    background: rgb(198, 91, 219);
}

body h2,p{
    font-family: "Open Sans";
    font-weight: normal;
    margin: 0.5em;
    padding: 0.5em;
    background: transparent;
    color: rgb(37, 37, 37);
}

h2{
    text-decoration: underline;
}

ul{
    text-align: left;
}

ul li{
    font-family: "Open Sans";
}