body{
    text-align: center;
}

body h2,p{
    font-family: "Open Sans";
    margin: 50px;
    padding: 50px;
    background: crimson;
    color: #fff;
}

h2{
    border: solid green 5px;
    text-decoration: underline;
}